from .forms import UpdateProfile,PitchForm,CommentForm
{% macro displayPitches(pitches)%}

<div class="container-fluid">
    <div class="row">
    {% for pitch in pitches %}
    <div class="category col-md-12">
        <div class="jumbotron">
            <h3> {{pitch.pitch_title}}</h3>
            <p>{{pitch.content}}</p>
            <a class="btn btn-light btn-xl sr-button" href="{{url_for('main.new_comment',id = pitch.id)}}"> Comment</a>
        </div>
    </div>


    {% endfor %}
    </div>
</div>
{% endmacro %}