{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <h3>In life, you only have 60 seconds to impress someone. 1 minute can make or break you.We give you a platform to pitch your ideas </h3>
    </div>
</div>

<div class="container-fluid">
  {{wtf.quick_form(pitch_form)}}
</div>


<!-- homepage section -->
<div class="container-fluid">
    <div class="row" id="Product">
        <div class="category col-md-12">
                <h4 id="title">Product Pitches</h4>
                <ul>
                    {{macro.displayPitches(productpitches)}}
                </ul>
        </div>
    </div>


    <div class="row" id="Business">
            <div class="category col-md-12">
                    <h4 id="title">Business Pitches</h4>
                    <ul>
                        {{macro.displayPitches(businesspitches)}}
                    </ul>
            </div>
    </div>

    <div class="row" id="Promotion">
            <div class="category col-md-12">
                    <h4 id="title">Promotion Pitches</h4>
                    <ul>
                        {{macro.displayPitches(promotionpitches)}}
                    </ul>
            </div>
    </div>

    <div class="row" id="Interview">
        <div class="category col-md-12">
                <h4 id="title">Interview Pitches</h4>
                <ul>
                    {{macro.displayPitches(interviewpitches)}}
                </ul>

        </div>
    </div>
</div>
{% endblock%}


